@import "assets/css/variables.scss";

.home-container {
}

.rule-1 {
  display: block;
  background: #f7d161;
  height: 2px;
  max-width: 67rem;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 3rem;
}
