@font-face {
  font-family: "VisbyRoundCF-Heavy";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Webfont/VisbyRoundCF-Heavy.eot"); /*IE9 Compat Modes*/
  src: local("VisbyRoundCF-Heavy"), local("Heavy"),
    url("../fonts/Webfont/VisbyRoundCF-Heavy.eot?#iefix")
      format("embedded-opentype") /*IE6-IE8*/,
    url("../fonts/Webfont/VisbyRoundCF-Heavy.woff2") format("woff2")
      /*Super Modern browsers*/,
    url("../fonts/Webfont/VisbyRoundCF-Heavy.woff") format("woff")
      /*Modern browsers*/;
}
@font-face {
  font-family: "VisbyRoundCF-Bold";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Webfont/VisbyRoundCF-Bold.eot"); /*IE9 Compat Modes*/
  src: local("VisbyRoundCF-Bold"), local("Bold"),
    url("../fonts/Webfont/VisbyRoundCF-Bold.eot?#iefix")
      format("embedded-opentype") /*IE6-IE8*/,
    url("../fonts/Webfont/VisbyRoundCF-Bold.woff2") format("woff2")
      /*Super Modern browsers*/,
    url("../fonts/Webfont/VisbyRoundCF-Bold.woff") format("woff")
      /*Modern browsers*/;
}
@font-face {
  font-family: "VisbyRoundCF-DemiBold";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Webfont/VisbyRoundCF-DemiBold.eot"); /*IE9 Compat Modes*/
  src: local("VisbyRoundCF-DemiBold"), local("DemiBold"),
    url("../fonts/Webfont/VisbyRoundCF-DemiBold.eot?#iefix")
      format("embedded-opentype") /*IE6-IE8*/,
    url("../fonts/Webfont/VisbyRoundCF-DemiBold.woff2") format("woff2")
      /*Super Modern browsers*/,
    url("../fonts/Webfont/VisbyRoundCF-DemiBold.woff") format("woff")
      /*Modern browsers*/;
}
@font-face {
  font-family: "VisbyRoundCF-ExtraBold";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Webfont/VisbyRoundCF-ExtraBold.eot"); /*IE9 Compat Modes*/
  src: local("VisbyRoundCF-ExtraBold"), local("ExtraBold"),
    url("../fonts/Webfont/VisbyRoundCF-ExtraBold.eot?#iefix")
      format("embedded-opentype") /*IE6-IE8*/,
    url("../fonts/Webfont/VisbyRoundCF-ExtraBold.woff2") format("woff2")
      /*Super Modern browsers*/,
    url("../fonts/Webfont/VisbyRoundCF-ExtraBold.woff") format("woff")
      /*Modern browsers*/;
}
@font-face {
  font-family: "VisbyRoundCF-ExtraLight";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Webfont/VisbyRoundCF-ExtraLight.eot"); /*IE9 Compat Modes*/
  src: local("VisbyRoundCF-ExtraLight"), local("ExtraLight"),
    url("../fonts/Webfont/VisbyRoundCF-ExtraLight.eot?#iefix")
      format("embedded-opentype") /*IE6-IE8*/,
    url("../fonts/Webfont/VisbyRoundCF-ExtraLight.woff2") format("woff2")
      /*Super Modern browsers*/,
    url("../fonts/Webfont/VisbyRoundCF-ExtraLight.woff") format("woff")
      /*Modern browsers*/;
}
@font-face {
  font-family: "VisbyRoundCF-Light";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Webfont/VisbyRoundCF-Light.eot"); /*IE9 Compat Modes*/
  src: local("VisbyRoundCF-Light"), local("Light"),
    url("../fonts/Webfont/VisbyRoundCF-Light.eot?#iefix")
      format("embedded-opentype") /*IE6-IE8*/,
    url("../fonts/Webfont/VisbyRoundCF-Light.woff2") format("woff2")
      /*Super Modern browsers*/,
    url("../fonts/Webfont/VisbyRoundCF-Light.woff") format("woff")
      /*Modern browsers*/;
}
@font-face {
  font-family: "VisbyRoundCF-Medium";
  // font-style: normal;
  // font-weight: 400;
  src: url("../fonts/Webfont/VisbyRoundCF-Medium.eot"); /*IE9 Compat Modes*/
  src: local("VisbyRoundCF-Medium"), local("Medium"),
    url("../fonts/Webfont/VisbyRoundCF-Medium.eot?#iefix")
      format("embedded-opentype") /*IE6-IE8*/,
    url("../fonts/Webfont/VisbyRoundCF-Medium.woff2") format("woff2")
      /*Super Modern browsers*/,
    url("../fonts/Webfont/VisbyRoundCF-Medium.woff") format("woff")
      /*Modern browsers*/;
}
@font-face {
  font-family: "VisbyRoundCF-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Webfont/VisbyRoundCF-Regular.eot"); /*IE9 Compat Modes*/
  src: local("VisbyRoundCF-Regular"), local("Regular"),
    url("../fonts/Webfont/VisbyRoundCF-Regular.eot?#iefix")
      format("embedded-opentype") /*IE6-IE8*/,
    url("../fonts/Webfont/VisbyRoundCF-Regular.woff2") format("woff2")
      /*Super Modern browsers*/,
    url("../fonts/Webfont/VisbyRoundCF-Regular.woff") format("woff")
      /*Modern browsers*/;
}
